* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0px;
}

.background {
    width: 100%;
    height: 100vh;
    background: rgba(34, 40, 49, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.project_div {
    width: 50em;
    padding: 20px 5px;
    position: relative;
    margin: auto;
}

.para {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    margin-top: 5px;
    position: relative;
}

.top_block {
    width: 50em;
    height: 15em;
    background: rgba(48, 71, 94, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    margin: 10em auto 0em auto;
}

.bottom_block {
    width: 50em;
    background: rgba(49, 49, 49, 1);
    opacity: 1;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    margin: auto;
}

.profile_image {
    width: 15em;
    height: 15em;
    background: url(../images/v2_31.png);
    background-size: cover;
    border-radius: 50%;
    z-index: 1;
    margin: 2em;
    position: absolute;
}

.name {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
    margin-top: 5%;
}

.para_intro {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    margin-top: 5px;
}

.resume_btn {
    background: rgba(246, 130, 50, 1);
    opacity: 1;
    padding: 5px 10px;
    overflow: hidden;
    display: inline-block;
    color: white;
    font-style: helvetica;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
    margin-top: 5px;
}

.project_btn {
    background: rgba(246, 130, 50, 1);
    opacity: 1;
    overflow: hidden;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 20em;
    margin: 0px 10px;
    align-self: center;
    text-align: center;
}

.project_btn a {
    color: white;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
}
